@font-face {
  font-family:"Thin-line";
  font-style: normal;
  src: url("./componentes/Fonts/Thin_Line_Font.otf") ;
}

@font-face {
  font-family:"Quicksand";
  font-style: normal;
  src: url("./componentes/Fonts/quicksand.bookoblique-regular.otf") ;
}

body {
  margin: 0;
  font-family:   -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html{
  background-color: #fff;
  /* background-image: linear-gradient(to right bottom, #1e1e1e, #1e1e1e); */
  background-image: linear-gradient(to right bottom, #fff, #fff);
  /* color of sandbox 151515*/
  color: #fff;
  font-family: "Thin-line", "Quicksand", "Montserrat" sans-serif;
  font-size:16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height:1.5;
  min-height:100vh;
  min-width:100vw;
  overflow-x:hidden;
  overflow-y:hidden;
  box-sizing: border-box;
  

  
}

a{
  color: currentColor;
  cursor: pointer;
  text-decoration: none;

}
.menu_basico ul li{
  list-style-type: none;
  margin-top:5px;
  font-size:20px;
  font-weight:bold;

}

body{
  
  font-family: "Thin-line","Quicksand", sans-serif;
  font-size:15px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height:1.5;
    min-height:100vh;
    min-width:100vw;
    overflow-x:hidden;
    overflow-y:hidden;

  
}

.logo{
  font-size:50px;
  padding-left:50px;
}

@media screen and (min-width: 600px) {
  body{
  
    font-family: "Montserrat", "Quicksand", sans-serif;
    font-size:14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height:1.5;
      min-height:100vh;
      min-width:100vw;
      overflow-x:hidden;
      letter-spacing:0.1em;
  
    
  }

  .App{
    display:grid;
    height:100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;

  }

  .header{
    grid-row: 1;
    grid-column: 1 / 3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /* color:#dddd55; */
    font-weight: bold;
    /* margin:5px; */
    padding:5px;
    /* background-color:#2a2d2e; */
    /* background-color:#151515; */
    background-color:#fff;
    /* border-bottom: .5px solid rgb(52,52,52); */
    color:#0e2b63;
    z-index:1000;
    
   

  }

  .aside{
    grid-column:1 ;
    grid-row:2;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    padding-top:50px;
    align-items:center;
    border-right:1px solid #0e2b63;
    /* background-color:#2a2d2e;
    background-color:#151515; */
    /* background-color:#34495e; */
    font-weight:normal;
    color:#0e2b63;
    z-index: 100;
    

  }
  .conteudo{
    grid-row:2;
    grid-column:2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:90%;
    font-size:12px !important;
    width:auto;
    /* background-color:#1e1e1e; */
    /* background-color:#2a2d2e; */

    /* background-color:#151515;
    background-color:#fff; */
    color:#0e2b63;
    overflow-y:auto;
    overflow-x:hidden;
    


  }
  .footer{
    grid-column:1 / 3;
    grid-row:3;
    display:flex;
    justify-content:center;
    align-items:center;
    font-style:italic;
    font-size:10px;
    font-weight:normal;
    letter-spacing:.2em;
    background-color:#2a2d2e;
    background-color:#151515;
    background-color:#fff;
    margin-bottom:5px;
    color:#0e2b63;
    z-index: 20;


  }

  .logoicon{
    width:40%;
     margin-left:75px ;
      margin-top:30px;
  }

  .perfil_join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

}
